#clion
/.idea
*.obj
*.log
*.log
*.log
cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/Testing/Temporary/LastTest.log
*.log
/cmake-build-debug
